In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Chargement du dataset
df = pd.read_csv('job_titles_classification_extended.csv')

#---Cleaning data set------------------------------------

# --- CONFIGURATION ---
# Taux de change (à ajuster au besoin)
TAUX_CHANGE_USD_MAD = 10.2 
# Seuil de fréquence pour regrouper les catégories rares (ex: 1%)
RARE_THRESHOLD = 0.01 


def convert_salary_to_mad(salary_str):
    """Calcule le salaire moyen et le convertit en MAD."""
    try:
        if pd.isna(salary_str): 
            return None
            
        clean_str = salary_str.replace('$', '').replace('k', '')
        parts = clean_str.split('-')
        
        # Calculer la moyenne en USD (milliers)
        avg_usd_k = (float(parts[0]) + float(parts[1])) / 2
        
        # Conversion finale (x1000 pour les 'k' et xTaux pour les MAD)
        salary_mad = avg_usd_k * 1000 * TAUX_CHANGE_USD_MAD
        
        return salary_mad
        
    except Exception:
        return None

df['salary_mad'] = df['salary_range'].apply(convert_salary_to_mad)

# Optionnel : Remplacer les valeurs manquantes par la médiane après conversion
df['salary_mad'].fillna(df['salary_mad'].median(), inplace=True) 

# Ajout du format DH
df['salary_dh_formatted'] = df['salary_mad'].apply(
    lambda x: f"{x:,.0f} DH" if pd.notna(x) else "N/A"
)



# A. Standardisation de base
categorical_cols = ['category', 'location', 'experience_level', 'remote', 'skills_required']
for col in categorical_cols:
    df[col] = df[col].str.strip().str.lower()
    
# B. Encodage Ordinal pour l'expérience
experience_order = {
    'entry': 0,
    'mid': 1,
    'senior': 2,
    'lead': 3
}
df['experience_level_encoded'] = df['experience_level'].map(experience_order)


# Encodage pour category



# C. Encodage Binaire pour 'remote'
df['remote_encoded'] = df['remote'].map({'yes': 1, 'no': 0})



# D. Regroupement des localisations rares En regroupant les villes qui apparaissent rarement sous l'étiquette 'other'
location_counts = df['location'].value_counts(normalize=True)
rare_locations = location_counts[location_counts < RARE_THRESHOLD].index
df['location_grouped'] = df['location'].apply(
    lambda x: 'other' if x in rare_locations else x
)


# 1. Uniformisation des chaînes de compétences
df['skills_cleaned'] = df['skills_required'].str.lower() 
df['skills_cleaned'] = df['skills_cleaned'].str.replace(', ', ',', regex=False)
df['skills_cleaned'] = df['skills_cleaned'].str.strip() 

# 2. Mappage des Acronymes
acronym_map = {
    'nlp': 'natural language processing',
    'ml': 'machine learning',
    'aws': 'amazon web services',
    'sql': 'structured query language',
    'pr': 'public relations',
    'ads': 'advertising',
    'ai' : 'Artificial intelligence'
}

for acro, full_form in acronym_map.items():
    # Le r'\b' assure que l'on remplace l'acronyme seul
    df['skills_cleaned'] = df['skills_cleaned'].str.replace(r'\b' + acro + r'\b', full_form, regex=True)

# Gérer les NaN (remplacer par une chaîne vide pour TF-IDF)
df['skills_cleaned'].fillna('', inplace=True)



# Créer le DataFrame final avec les colonnes utiles
df_ready = df[['job_title', 'category', 'location_grouped', 
               'salary_mad', 'experience_level_encoded', 'remote_encoded', 'skills_cleaned']]

# Afficher les premières lignes 
print("\n--- Aperçu du DataFrame Prêt pour la Modélisation ---")
print(df_ready.head(20))

--- Aperçu du DataFrame Prêt pour la Modélisation ---
                    job_title     category location_grouped  salary_mad  \
0           Backend Developer           it           berlin    510000.0
1   Digital Marketing Analyst    marketing            cairo    816000.0
2           Backend Developer           it            dubai    816000.0
3                   Therapist   healthcare          toronto    510000.0
4          Frontend Developer           it         new york    510000.0
5                   Professor    education         new york    969000.0
6                Risk Manager      finance            cairo    969000.0
7            School Principal    education          toronto    510000.0
8             DevOps Engineer           it           london    510000.0
9                 Radiologist   healthcare            cairo    663000.0
10     Medical Lab Technician   healthcare            tokyo    969000.0
11           School Principal    education           berlin    663000.0
12       Social Media Manager    marketing            dubai    510000.0
13                Radiologist   healthcare           sydney    816000.0
14             Tax Consultant      finance            dubai    663000.0
15       System Administrator           it           sydney    969000.0
16             Budget Analyst      finance            cairo    510000.0
17             Tax Consultant      finance            tokyo    969000.0
18      Education Coordinator    education          toronto    816000.0
19                Radiologist   healthcare           sydney    510000.0
20          Portfolio Manager      finance            dubai    663000.0
21          Backend Developer           it          toronto    663000.0
22                 Accountant      finance         new york    663000.0
23          Financial Analyst      finance           berlin    510000.0
24             SEO Specialist    marketing         new york    510000.0
25          Financial Analyst      finance         new york    510000.0
26  Special Education Teacher    education            dubai    663000.0
27           Academic Advisor    education            cairo    663000.0
28          Portfolio Manager      finance           sydney    969000.0
29           Project Engineer  engineering            tokyo    969000.0
30               Risk Manager      finance           sydney    969000.0
31       Curriculum Developer    education           sydney    969000.0
32           Process Engineer  engineering            dubai    663000.0
33           Product Marketer    marketing           london    969000.0
34           Academic Advisor    education           sydney    816000.0
35            Cloud Architect           it         new york    969000.0
36             Data Scientist           it           berlin    816000.0
37             Civil Engineer  engineering            cairo    510000.0
38          Portfolio Manager      finance         new york    510000.0
39               Risk Manager      finance            tokyo    969000.0
40          Investment Banker      finance            cairo    510000.0
41         Software Developer           it          toronto    663000.0
42             Data Scientist           it           sydney    816000.0
43          Financial Analyst      finance            tokyo    663000.0
44           Process Engineer  engineering           sydney    816000.0
45             Budget Analyst      finance           berlin    969000.0
46           Quality Engineer  engineering         new york    969000.0
47          Investment Banker      finance            tokyo    510000.0
48          Financial Analyst      finance            tokyo    510000.0
49           Physics Lecturer    education           berlin    969000.0

    experience_level_encoded  remote_encoded  \
0                          3               1
1                          0               0
2                          1               1
3                          0               1
4                          3               0
5                          3               1
6                          2               1
7                          1               1
8                          3               0
9                          1               0
10                         2               1
11                         0               1
12                         3               0
13                         1               0
14                         1               1
15                         1               0
16                         3               1
17                         2               0
18                         1               0
19                         1               0
20                         0               0
21                         0               1
22                         2               1
23                         3               0
24                         0               0
25                         3               1
26                         2               1
27                         0               1
28                         0               1
29                         0               0
30                         3               0
31                         1               1
32                         2               1
33                         1               0
34                         3               0
35                         2               0
36                         1               0
37                         3               0
38                         2               1
39                         0               0
40                         3               0
41                         0               0
42                         0               0
43                         0               1
44                         2               0
45                         1               1
46                         1               1
47                         2               0
48                         3               0
49                         1               0

                                       skills_cleaned
0               python,structured query language,java
1             public relations,communication,strategy
2               amazon web services,docker,kubernetes
3                                patient care,nursing
4               amazon web services,docker,kubernetes
5                           academic research,writing
6                               budgeting,forecasting
7                         special education,mentoring
8               amazon web services,docker,kubernetes
9                   therapy,rehabilitation,counseling
10                               lab testing,analysis
11                          academic research,writing
12                   seo,content writing,social media
13                               lab testing,analysis
14                  excel,accounting,finance modeling
15  machine learning,Artificial intelligence,natur...
16                investment analysis,risk management
17                investment analysis,risk management
18                          academic research,writing
19                               patient care,nursing
20                investment analysis,risk management
21                               react,node.js,devops
22                              budgeting,forecasting
23                investment analysis,risk management
24            digital marketing,advertising,campaigns
25                                auditing,compliance
26                           lesson planning,advising
27                           lesson planning,advising
28                investment analysis,risk management
29                            quality control,testing
30                  excel,accounting,finance modeling
31                        special education,mentoring
32                      process optimization,analysis
33                   seo,content writing,social media
34                    teaching,curriculum development
35  machine learning,Artificial intelligence,natur...
36              amazon web services,docker,kubernetes
37                      cad,design,project management
38                investment analysis,risk management
39                  excel,accounting,finance modeling
40                              budgeting,forecasting
41                               react,node.js,devops
42  machine learning,Artificial intelligence,natur...
43                              budgeting,forecasting
44                     construction,technical drawing
45                                auditing,compliance
46                      process optimization,analysis
47                investment analysis,risk management
48                              budgeting,forecasting
49                          academic research,writing

C:\Users\user\AppData\Local\Temp\ipykernel_14276\3502104551.py:41: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['salary_mad'].fillna(df['salary_mad'].median(), inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_14276\3502104551.py:103: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['skills_cleaned'].fillna('', inplace=True)